
[*.proto]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,axml,build,c,c++,cc,cginc,compute,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hlsl,hlsli,hlslinc,hpp,htm,html,hxx,inc,inl,ino,ipp,js,json,jsproj,jsx,lsproj,master,mpp,mq4,mq5,mqh,njsproj,nuspec,paml,proj,props,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,tpp,ts,tsx,usf,ush,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast = true
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
file_header_template = // Copyright (c) $CURRENT_YEAR$ Dr. Matthias Hölzl.\n

# ReSharper properties
resharper_cpp_anonymous_method_declaration_braces = end_of_line
resharper_cpp_case_block_braces = end_of_line
resharper_cpp_empty_block_style = together_same_line
resharper_cpp_int_align_comments = true
resharper_cpp_invocable_declaration_braces = end_of_line
resharper_cpp_keep_user_linebreaks = false
resharper_cpp_max_line_length = 88
resharper_cpp_other_braces = end_of_line
resharper_cpp_use_indent_from_vs = false
resharper_cpp_wrap_after_declaration_lpar = true
resharper_cpp_wrap_after_invocation_lpar = true
resharper_enforce_line_ending_style = true
resharper_function_declaration_return_type_style = on_single_line
resharper_function_definition_return_type_style = on_single_line
resharper_indent_comment = false
resharper_namespace_declaration_braces = end_of_line
resharper_namespace_indentation = none
resharper_requires_expression_braces = end_of_line
resharper_simple_block_style = on_single_line
resharper_simple_case_statement_style = on_single_line
resharper_space_within_single_line_array_initializer_braces = false
resharper_toplevel_function_declaration_return_type_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_wrap_before_colon = true
resharper_wrap_braced_init_list_style = chop_if_long
resharper_wrap_enumeration_style = chop_always

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_cpp_bad_angle_brackets_spaces_highlighting = warning
resharper_cpp_bad_braces_spaces_highlighting = warning
resharper_cpp_bad_child_statement_indent_highlighting = warning
resharper_cpp_bad_colon_spaces_highlighting = warning
resharper_cpp_bad_comma_spaces_highlighting = warning
resharper_cpp_bad_control_braces_indent_highlighting = warning
resharper_cpp_bad_declaration_braces_indent_highlighting = warning
resharper_cpp_bad_expression_braces_indent_highlighting = warning
resharper_cpp_bad_expression_braces_line_breaks_highlighting = warning
resharper_cpp_bad_member_access_spaces_highlighting = warning
resharper_cpp_bad_namespace_braces_indent_highlighting = warning
resharper_cpp_bad_parens_line_breaks_highlighting = warning
resharper_cpp_bad_parens_spaces_highlighting = warning
resharper_cpp_bad_semicolon_spaces_highlighting = warning
resharper_cpp_bad_spaces_after_keyword_highlighting = warning
resharper_cpp_bad_square_brackets_spaces_highlighting = warning
resharper_cpp_bad_switch_braces_indent_highlighting = warning
resharper_cpp_bad_symbol_spaces_highlighting = warning
resharper_cpp_clang_tidy_bugprone_bool_pointer_implicit_conversion_highlighting = warning
resharper_cpp_clang_tidy_bugprone_exception_escape_highlighting = warning
resharper_cpp_clang_tidy_clang_analyzer_optin_portability_unix_api_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_cpp11_compat_deprecated_writable_strings_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_avoid_c_arrays_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_avoid_non_const_global_variables_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_c_copy_assignment_signature_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_explicit_virtual_functions_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_init_variables_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_macro_usage_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_non_private_member_variables_in_classes_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_no_malloc_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_owning_memory_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_bounds_array_to_pointer_decay_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_bounds_constant_array_index_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_bounds_pointer_arithmetic_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_type_const_cast_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_type_cstyle_cast_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_type_reinterpret_cast_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_pro_type_union_access_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_slicing_highlighting = warning
resharper_cpp_clang_tidy_hicpp_braces_around_statements_highlighting = warning
resharper_cpp_clang_tidy_hicpp_deprecated_headers_highlighting = warning
resharper_cpp_clang_tidy_hicpp_function_size_highlighting = warning
resharper_cpp_clang_tidy_hicpp_invalid_access_moved_highlighting = warning
resharper_cpp_clang_tidy_hicpp_member_init_highlighting = warning
resharper_cpp_clang_tidy_hicpp_move_const_arg_highlighting = warning
resharper_cpp_clang_tidy_hicpp_named_parameter_highlighting = warning
resharper_cpp_clang_tidy_hicpp_new_delete_operators_highlighting = warning
resharper_cpp_clang_tidy_hicpp_noexcept_move_highlighting = warning
resharper_cpp_clang_tidy_hicpp_no_array_decay_highlighting = warning
resharper_cpp_clang_tidy_hicpp_no_assembler_highlighting = warning
resharper_cpp_clang_tidy_hicpp_no_malloc_highlighting = warning
resharper_cpp_clang_tidy_hicpp_signed_bitwise_highlighting = warning
resharper_cpp_clang_tidy_hicpp_static_assert_highlighting = warning
resharper_cpp_clang_tidy_misc_unused_alias_decls_highlighting = none
resharper_cpp_clang_tidy_portability_restrict_system_includes_highlighting = warning
resharper_cpp_clang_tidy_portability_simd_intrinsics_highlighting = warning
resharper_cpp_enforce_cv_qualifiers_order_highlighting = hint
resharper_cpp_enforce_cv_qualifiers_placement_highlighting = suggestion
resharper_cpp_enforce_do_statement_braces_highlighting = suggestion
resharper_cpp_enforce_for_statement_braces_highlighting = suggestion
resharper_cpp_enforce_if_statement_braces_highlighting = suggestion
resharper_cpp_enforce_type_alias_code_style_highlighting = hint
resharper_cpp_enforce_while_statement_braces_highlighting = suggestion
resharper_cpp_multiple_spaces_highlighting = warning
resharper_cpp_parameter_may_be_const_highlighting = none
resharper_cpp_redundant_space_highlighting = warning
resharper_cpp_tabs_outside_indent_highlighting = warning
resharper_cpp_this_arg_member_func_delegate_ctor_is_unsuported_by_dot_net_core_highlighting = warning
resharper_cpp_wrong_includes_order_highlighting = none
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
