[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
