autopep8
black
build
cookiecutter
ipykernel
mypy
jinja2
jupyter
jupytext
matplotlib
numba
numpy
openpyxl
pandas
papermill
pip
pyarrow
pytest
pytest-cov
requests
rise
scikit-build
scikit-learn
scipy
seaborn
typer
uvicorn
