# Ignore everything in this directory
*
# Except these files
!.gitignore
!colors.png
!colors.xcf
!tabby-cat-64.png
!example_data.csv
!excel_data.xlsx
!excel_other_sheet.xlsx
!california-housing.csv
!simple_df.csv
